@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

:root {
  --custom-divider-color: color-mix(in oklab, var(--color-base-content) 10%, transparent);
  --btn-fg: var(--color-base-content);
}
